<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Document</title>
    <link
    
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
</head>
<body>
    {{{body}}}

    
    <script src = "/public/js/profile.js"></script>
    <script src = "/public/js/Login.js"></script>
</body>
</html>