<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Fund My Project!</h1>
  {{> project}}

  <!-- Render script for logged in users only -->
  <script src = "/public/js/login.js"></script>
  <script src = "/public/js/logout.js"></script>
  <script src = "/public/js/profile.js"></script>
  <script src = "/public/js/comment.js"></script>
  <script src = "/public/js/signup.js"></script>
  <script src = "/public/js/delete.js"></script>


</body>

</html>